body {
    font-family: Times, "san serif";
    background-color: darkgreen;
    padding: 25px;
    font-size: 140%;
}

div#content {
    padding: 50px;
    background-color: lightblue;
    border: solid 5px #333333;
    height: 120vh;
}

h1, h2, h3 {
    font-family: Georgia, "san serif";
    color: darkgreen
}
p {
  color: darkblue
}

img {
    float: right;
    width: 400px;
    height: auto;
    border-radius: 50%;

}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
